<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <section class="catalog catalogPage">
        <div class="inner">
            <div class="catalogFilter">
                <div class="mobileCross">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89926 11.3137L4.94952 16.2635L6.36373 17.6777L11.3135 12.7279L16.2632 17.6777L17.6774 16.2635L12.7277 11.3137L17.6774 6.36396L16.2632 4.94975L11.3135 9.89949L6.36373 4.94975L4.94952 6.36396L9.89926 11.3137Z" fill="#FF695A"></path>
                    </svg>    
                </div>
                <div class="filterInner">

                    <div class="block">
                        <div class="caption active">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Цена, руб</p>
                            </div>
                        </div>    
                        <div class="innerBlock priceFilter active">
                        <div class="priceCaption">
                                <input value="5 000" type="text">
                                <input value="40 800" type="text">
                        </div>
                        <div class="priceSlider">
                                <div class="backLine">
                                    <div class="frontLine"></div>
                                    <div class="leftBtn"></div>
                                    <div class="rightBtn"></div>
                                </div>
                            
                        </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Производитель</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                                                    <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio1" checked="checked" name="step1">
                                <label class="radioLabel" for="radio1"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio1">
                                <p class="title">Физическое лицо</p> 
                            </label>
                        </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Цвет</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check3" name="sogl">
                                    <label class="checkbox__label" for="check3"></label>
                                </div>
                                <label class="checkboxText" for="check3">Производитель 3</label>
                            </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Цвет</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check3" name="sogl">
                                    <label class="checkbox__label" for="check3"></label>
                                </div>
                                <label class="checkboxText" for="check3">Производитель 3</label>
                            </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Цвет</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check3" name="sogl">
                                    <label class="checkbox__label" for="check3"></label>
                                </div>
                                <label class="checkboxText" for="check3">Производитель 3</label>
                            </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Камера</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check3" name="sogl">
                                    <label class="checkbox__label" for="check3"></label>
                                </div>
                                <label class="checkboxText" for="check3">Производитель 3</label>
                            </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="block">
                        <div class="caption">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Диагональ экрана</p>
                            </div>
                        </div>   
                        <div class="innerBlock">
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check1" name="sogl">
                                    <label class="checkbox__label" for="check1"></label>
                                </div>
                                <label class="checkboxText" for="check1">Производитель 1</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check2" name="sogl">
                                    <label class="checkbox__label" for="check2"></label>
                                </div>
                                <label class="checkboxText" for="check2">Производитель 2</label>
                            </div>
                            
                            <div class="checkbox">
                                <div class="checkboxField">
                                    <input type="checkbox" id="check3" name="sogl">
                                    <label class="checkbox__label" for="check3"></label>
                                </div>
                                <label class="checkboxText" for="check3">Производитель 3</label>
                            </div>
                            <div class="btnMore">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>

                    <div class="btnWrap">
                        <a href="#" class="btn border filterBtn">
                            <div class="icon">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89926 11.3137L4.94952 16.2635L6.36373 17.6777L11.3135 12.7279L16.2632 17.6777L17.6774 16.2635L12.7277 11.3137L17.6774 6.36396L16.2632 4.94975L11.3135 9.89949L6.36373 4.94975L4.94952 6.36396L9.89926 11.3137Z" fill="#FF695A"></path>
                                </svg>                        
                            </div>
                            <span>Сбросить фильтр</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="catalogInner">
                <div class="list flex center">
                    <div class="item x3 lg4 sm6">
                        <%- include ../utils/card_inner %>
                    </div>
                    <div class="item x3 lg4 sm6">
                        <%- include ../utils/card_inner %>
                    </div>
                    <div class="item x3 lg4 sm6">
                        <%- include ../utils/card_inner %>
                    </div>
                    <div class="item x3 lg4 sm6">
                        <%- include ../utils/card_inner %>
                    </div>
                    <div class="item x3 lg4 sm6">
                        <%- include ../utils/card_inner %>
                    </div>
                    
                </div> 
            </div>
        </div>
        <% include ../includes/pagination %>
    </section>


    <section class="kvadrat">
        <div class="list flex center">
            <div style="background-color: red;" class="item x3"></div>
            <div style="background-color: red;" class="item x3"></div>
            <div style="background-color: red;" class="item x3"></div>

        </div> 
    </section>


    <div class="btns">
        <button id="bcCall"  class="btn full">bc modal</button>
    </div>


    <% include ../includes/footer %>



</body>
</html>


 











